<div class="modal" *ngIf="visible">
  <div class="modal__content">
    <h3 class="modal__title">{{title}}</h3>
    <div class="modal__list">
      <div class="modal__item">
        <div class="modal__label">{{label[0] | titlecase}}</div>
        <div class="modal__data">{{(graphListData | async)?.agreeableness}}</div>
      </div>

      <div class="modal__item">
        <div class="modal__label">{{label[1] | titlecase}}</div>
        <div class="modal__data">{{(graphListData | async)?.drive}}</div>
      </div>

      <div class="modal__item">
        <div class="modal__label">{{label[2] | titlecase}}</div>
        <div class="modal__data">{{(graphListData | async)?.luck}}</div>
      </div>

      <div class="modal__item">
        <div class="modal__label">{{label[3] | titlecase}}</div>
        <div class="modal__data">{{(graphListData | async)?.openness}}</div>
      </div>
    </div>

    <button class="modal__close" mat-button (click)="close()">Close</button>
  </div>
</div>

