<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar__label"
       routerLink=''
       title="Home page">
    <span class="toolbar__title">
      {{title}}
    </span>
    <mat-icon>home</mat-icon>
  </div>

  <div class="toolbar__wrapper">
    <div class="toolbar__admin"
         *ngIf="(userRole | async) === 'Admin'"
         (click)="goToAdminPanel()">
      <div class="toolbar__admin-label">Admin panel</div>
      <mat-icon>favorite</mat-icon>
    </div>

    <div class="toolbar__user"
         *ngIf="userRole | async"
         routerLink='dashboard'>
      {{userRole | async}}
    </div>

    <button *ngIf="!(userRole | async)"
            routerLink='/login'
            mat-icon-button
            class="toolbar__button-login"
            title="Login"
            aria-label="Login">
      <mat-icon>login</mat-icon>
    </button>

    <button *ngIf="userRole | async"
            mat-icon-button
            routerLink='/login'
            (click)="logout()"
            class="toolbar__button-login"
            title="logout"
            aria-label="logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
