.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 300px;
  }


  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__input {
    padding: 5px;
    width: 300px;
  }

  &__button {

  }

  .ng-touched.ng-invalid:not(form) {
    border: 1px solid red;
  }
}
