.toolbar {
  display: flex;
  justify-content: space-between;

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    margin: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user {
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
  }

  &__admin {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    &:hover {
      color: rgba(0,0,176,0.6);
      transition: all .2s ease-in;
    }

    &-label {
      margin-right: 5px;
    }
  }
}
